<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring MVC Blog</title>
</head>

<body>

Users

<main id="users">
    <h1>Users</h1>
    <table id="userTable" th:each="u : ${userList}">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>last name</th>
        </tr>
        <tr>
            <td th:text="${u.id}">Id</td>
            <td th:text="${u.username}">username</td>
            <td th:text="${u.password}">password</td>
            <td th:text="${u.lastName}">lastName</td>
        </tr>
    </table>

    <a href="index.html" th:href="@{/}">Home</a>
</main>

</body>

</html>